.container{
    background-color: rgb(223, 223, 223);
    /* padding: 10px 18px; */
    border-radius: 12px;
    box-shadow: 10px 12px rgba(199, 205, 214, 0.975);
    color: rgb(0, 0, 0);
    border: 1px solid black;
    margin-top: 60px;
    transition: all 0.5s ease-in;
}

.container:hover{
    background-color: black;
    color: white;
    border-radius: 12px;
    box-shadow: 10px 12px rgb(132, 128, 128);
    padding: 10px;
    transform: translate(4px 8px);

}
.rules{
    padding-left: 10px;
} 
.rule{
    padding: 2px 3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}